<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="sidebar" class="col-lg-3 col-xl-2 mb-4">
    <div class="card">
        <div class="card-header fw-semibold">
            <i class="bi bi-gear me-1"></i>Admin panel
        </div>
        <div class="list-group list-group-flush">
            <a th:href="@{/app/admin}" class="list-group-item list-group-item-action">
                <i class="bi bi-speedometer2 me-1"></i>Dashboard
            </a>
            <a th:href="@{/app/admin/courses}" class="list-group-item list-group-item-action">
                <i class="bi bi-journal-bookmark me-1"></i>Courses
            </a>
            <a th:href="@{/app/admin/users}" class="list-group-item list-group-item-action">
                <i class="bi bi-people me-1"></i>Users
            </a>
        </div>
    </div>
</div>
</body>
</html>
